<!DOCTYPE html>
<html>
<head>
	<title>Animated Effect</title>
    <link href="<%= url('/style_view_effect.css') %>" rel="stylesheet" type="text/css">   
</head>
<body>
    <div id="whole-animation-container">
        <div id="boom-container">
            <div class="button-container">
                <form action=/switchturns method="get">
                    <div class="start-button">
                        <input class="button_view_one" type="submit" value="Attack complete!">
                    </div>
                </form>
            </div>
        </div>
        <div id="attack-picture-container">
            <% if $game.current_turn.choice == "Peter" && $game.current_turn.choice_attack == "PUNCH"%>
                <img  src="images/peter_punch.jpg">
            <% elsif $game.current_turn.choice == "Peter" && $game.current_turn.choice_attack == "KICK" %>
                <img  src="images/peter_slam.jpg">
            <% elsif $game.current_turn.choice == "Peter" && $game.current_turn.choice_attack == "LAUGH" %>
                <img  src="images/peter_laugh.jpg">
            <% elsif $game.current_turn.choice == "Chicken" && $game.current_turn.choice_attack == "PUNCH"%>
                <img  src="images/chicken_punch.jpg">
            <% elsif $game.current_turn.choice == "Chicken" && $game.current_turn.choice_attack == "KICK" %>
                <img  src="images/chicken_beak.jpg">
            <% elsif $game.current_turn.choice == "Chicken" && $game.current_turn.choice_attack == "DIRTY LOOK" %>
                <img  src="images/chicken_dirty_look.jpg">
            <%end%>
            
            <div class="reduced-hp">
                <%if $game.current_turn.choice_attack == "PUNCH"%>
                    <p>-10 HP</p>
                <%elsif $game.current_turn.choice_attack == "KICK" %>
                    <p>-20 HP</p>
                <%elsif $game.current_turn.choice_attack == "LAUGH" || "DIRTY LOOK" %>
                    <p>-30 HP</p>
                <%else%>
                    <p>ERROR</p>
                <%end%>
            </div>
        </div>
    </div>
</body>
</html>