<!DOCTYPE html>
<html>
    <head>
        <title>Animated Effect</title>
        <link href="<%= url('/style_view_effect.css') %>" rel="stylesheet" type="text/css">   
    </head>
    <body>
        <div id="whole-animation-container">
            <div id="boom-container">

            </div>
            <% if $game.player_1.choice == "Peter" && $game.player_2.choice == "Peter" && $game.current_turn.choice_attack == "PUNCH"%>
                <div style="background: url(images/peter_peter_punch.png) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            <% elsif $game.player_1.choice == "Peter" && $game.player_2.choice == "Peter" && $game.current_turn.choice_attack == "SMASH"%>
                <div style="background: url(images/peter_peter_smash.jpg) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            

            <% elsif $game.current_turn.choice == "Peter" && $game.current_turn.choice_attack == "PUNCH"%>
                <div style="background: url(images/peter_punch.jpg) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            <% elsif $game.current_turn.choice == "Peter" && $game.current_turn.choice_attack == "SMASH" %>
                <div style="background: url(images/peter_slam.jpg) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            <% elsif $game.current_turn.choice == "Peter" && $game.current_turn.choice_attack == "LAUGH" %>
                <div style="background: url(images/peter_laugh.jpg) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            <% elsif $game.current_turn.choice == "Chicken" && $game.current_turn.choice_attack == "PUNCH"%>
                <div style="background: url(images/chicken_punch.jpg) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            <% elsif $game.current_turn.choice == "Chicken" && $game.current_turn.choice_attack == "SMASH" %>
                <div style="background: url(images/chicken_beak.jpg) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            <% elsif $game.current_turn.choice == "Chicken" && $game.current_turn.choice_attack == "DIRTY LOOK" %>
                <div style="background: url(images/chicken_dirty_look.jpg) no-repeat center rgb(241, 237, 237); background-size: 80vh;">
            <%end%>
            <div id="reduced-hp">
                <%if $game.current_turn.choice_attack == "PUNCH"%>
                    <p>-10 HP</p>
                <%elsif $game.current_turn.choice_attack == "SMASH" %>
                    <p>-20 HP</p>
                <%elsif $game.current_turn.choice_attack == "LAUGH" || "DIRTY LOOK" %>
                    <p>-30 HP</p>
                <%end%>
            </div>
        </div>
        <script>
            function disappear(){
                setTimeout(function () {
                    document.getElementById("reduced_hp").style.visibility = "hidden";
                }, 2000); 
            }
            disappear();
        </script>
        <script>setTimeout(function(){window.location.href='/switchturns'},3500);</script>
    </body>
</html>