<!DOCTYPE html>
<html>
<head>
	<title>Animated Effect</title>
    <link href="<%= url('/style_view_effect.css') %>" rel="stylesheet" type="text/css">
    
</head>
<body>
    <div id="whole-animation-container">
        <div id="boom-container">
            
        
            <div class="button-container">
                <form action=/switchturns method="get">
                    <div class="start-button">
                        <input class="button_view_one" type="submit" value="Attack complete!">
                    </div>
                </form>
            </div>


        </div>
        <div id="attack-picture-container">
            
        </div>
    </div>
</body>
</html>