<!DOCTYPE html>

<html>
    <head>
        <title>Main Page</title>
        <link href="<%= url('/style_view_one.css') %>" rel="stylesheet" type="text/css">
        <!--<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>-->
    </head>
    <body>
        <div class="button-container">
            <form action=/mode method="get">
                <div class="start-button">
                    <input class="button-view-one" type="submit" value="FIGHT!">
                </div>
            </form>
        </div>
    </body>
</html>