<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" >
</head>
<body class="main_body">
    <button>Fight!</button>
</body>
</html>