<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css">
</head>
<body>
<div class="image-container">
        <form action=/selection method="get">
            <div class="start-button">
                <input class="button" type="submit" value="Fight!">
            </div>
        </form>
</div>
    
</body>
</html>