<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="new-project">Epic Battle</h1>
    <form action=/selection method="get">
    <div class="start-button">
        <input class="button" type="submit" value="Fight!">
    </div>
    </form>
</body>
</html>