<!DOCTYPE html>
<html>
<head>
	<title>Select Character</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>
</head>
<body id="selection-body">
    <div class="whole-container">
    <h1 class="main-header" >Select Your Character</h1>
        <div class="selected-characters-wrapper">
            <div class="p1-full-box">
                <%if $game.player_1.choice == "Peter"%>
                    <img style="max-width: 250px; max-height: 250px;" src="images/Peter.png">
                    <%elsif $game.player_1.choice == "Chicken"%>
                    <img style="max-width: 250px; max-height: 250px;" src="images/Chicken.png">
                    <%else%>
                        Error
                <%end%>
            </div>
            <div class="p2-full-box">
                <%if $game.player_2.choice == "Peter"%>
                    <img style="max-width: 250px; max-height: 250px;" src="images/Peter.png">
                    <%elsif $game.player_2.choice == "Chicken"%>
                    <img style="max-width: 250px; max-height: 250px;" src="images/Chicken.png">
                    <%else%>
                    Error
                <%end%>
            </div>
        </div>
    <div class="selection-wrapper">
            <div class="p1-name-box">
                <%= $game.player_1.choice.upcase %>
            </div>
            <div class="vs-box">
                <img style="max-width: 150px; max-height: 150px;" src="images/vs.png">
            </div>
            <div class="p2-name-box">
                <%= $game.player_2.choice.upcase %>
            </div>
        </div>
        <div class="selection-menu-wrapper">
                <div class="form-box-1">
                <form action=/ready method="post">
                <input type="image" src="images/Peter.png" style="max-width: 250px; max-height: 250px;" name="Peter" />
                <input type="hidden" name="choice" value="Peter" />
                </form>
                </div>
                <div class="form-box-2">
                <input class="shaded" type="image" src="images/Stewie.png" style="max-width: 250px; max-height: 250px;" name="Stewie" />
                </form>
                </div>
                <div class="form-box-3">
                <input class="shaded" type="image" src="images/Lois.png" style="max-width: 250px; max-height: 250px;" name="Lois" />
                </form>
                </div>
                <div class="form-box-4">
                <form action=/ready method="post">
                <input type="image" src="images/Chicken.png" style="max-width: 250px; max-height: 250px;" name="Chicken" />
                <input type="hidden" name="choice" value="Chicken"/>
                </form>
                </div>
        </div>
    </div>
        
</body>
</html>