<!DOCTYPE html>
<html>
    <head>
        <title>Select Character</title>
        <link href="<%= url('/style_selection.css') %>" rel="stylesheet" type="text/css">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>
    </head>
    <body>
        <div class="page-content-container">
        <h1 class="main-header" >Select Your Character</h1>
            <div class="selected-characters-content-container">
                <div class="p1-full-box">
                    <%if $game.player_1.choice == "Peter"%>
                        <img style="max-width: 225px; max-height: 225px;" src="images/Peter.png">
                    <%elsif $game.player_1.choice == "Chicken"%>
                        <img style="max-width: 225px; max-height: 225px; transform: scaleX(-1);" src="images/Chicken.png">
                    <%end%>
                </div>
                <div class="p2-full-box">
                    <%if $game.player_2.choice == "Peter"%>
                        <img style="max-width: 225px; max-height: 225px; transform: scaleX(-1);" src="images/Peter.png">
                    <%elsif $game.player_2.choice == "Chicken"%>
                        <img style="max-width: 225px; max-height: 225px;" src="images/Chicken.png">
                    <%end%>
                </div>
            </div>
            <br>
            <div class="p1-vs-p2-content-container">
                <div class="p1-name-box">
                    <p><%= $game.player_1.choice.upcase %></p>
                </div>
                <div class="vs-box">
                    <img style="max-width: 100px; max-height: 100px;" src="images/vs.png">
                </div>
                <div class="p2-name-box">
                    <p><%= $game.player_2.choice.upcase %></p>
                </div>
            </div>
            <br>
            <div class="selection-menu-content-container">
                <div>
                    <div class="form-box-1">
                        <form action=/attack method="post">
                            <input type="image" src="images/Peter.png" style="max-width: 225px; max-height: 200px;" name="Peter" />
                            <input type="hidden" name="choice" value="Peter" />
                        </form>
                    </div>
                    <div class="form-box-2">
                        <input class="shaded" type="image" src="images/Stewie.png" style="max-width: 225px; max-height: 200px;" name="Stewie" />
                    </div>
                </div>
                <div>
                    <div class="form-box-3">
                        <input class="shaded" type="image" src="images/Lois.png" style="max-width: 225px; max-height: 200px;" name="Lois" />
                    </div>
                    <div class="form-box-4">
                        <form action=/attack method="post">
                            <input type="image" src="images/Chicken.png" style="max-width: 225px; max-height: 200px;" name="Chicken" />
                            <input type="hidden" name="choice" value="Chicken"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
        <script>setTimeout(function(){window.location.href='/attack'},3000);</script>
    </body>
</html>