<!DOCTYPE html>
<html>
<head>
	<title>Select Character</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="grid-container-selection">
    <div>Select Your Character</div>
        <div>
        Your Character
        </div>
        <div>
        Computer Character
        </div>
        <div>You character name</div>
        <div>VS.</div>
        <div>Computer character name</div>
        <div>character1</div>
        <div>character2</div>
        <div>character3</div>
        <div>character4</div>
    </div>
</body>
</html>