
body, html {
    height: 100%;
  }

.main-header{
    font-weight:900;
    text-align: center;
}

#selection-body{
    margin:0;
    padding:0;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}

.whole-container{
    padding:2px;
    border:5px solid black; 
    /* mobile problem if left+right margin 10%*/
}

.whole-container{
    
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}

.shaded {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.selection-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.selection-wrapper{
    background: #eee;
}

.selected-characters-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.p1-blank-box{
    text-align: right;
}

.p1-blank-box img{
    padding:2px;
    border:5px solid black;
}

.p2-blank-box img{
    padding:2px;
    border:5px solid black;
}

.p1-full-box {
    text-align: right;
}

.p1-full-box img{
    padding:2px;
    border:5px solid black;
}

.p2-full-box {
    text-align: left;
}

.p2-full-box img{
    padding:2px;
    border:5px solid black;
}

.p1-name-box{
    margin-top: 50px;
    font-size: 20px;
    text-align: right;
}

.p1-name-box p{
    animation-duration: 2s;
    animation-name: slide-right;
}

.vs-box {
    text-align: center;
}

.p2-name-box{
    margin-top: 50px;
    font-size: 20px;
    text-align: left;
}

.p2-name-box p{
    animation-duration: 2s;
    animation-name: slidein;
}

.selection-menu-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.selection-menu-wrapper{
    background-color: black;
    margin: 0%;
}

.form-box-1{ 
    border: 5px solid black;
    text-align: right;
}

.form-box-1 input{
    border: 5px solid black;
}

.form-box-1 input:hover{
    border: 5px solid rgb(161, 44, 44);
}


.form-box-2{ 
    border: 5px solid black;
    text-align: left;
}

.form-box-2 input{
    border: 5px solid black;
}

.form-box-3{ 
    border: 5px solid black;
    text-align: right; 
}

.form-box-3 input{
    border: 5px solid black;
}

.form-box-4{ 
    border: 5px solid black;
    text-align: left; 
}

.form-box-4 input{
    border: 5px solid black;
}

.form-box-4 input:hover{
    border: 5px solid rgb(161, 44, 44);
}

.name-hp-bar1{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}

.name-hp-bar2{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}


@keyframes slidein {
from {
    margin-left: 100%;
}

to {
    margin-left: 0%;
}
}

@font-face {
    font-family: 'PressStart2PRegular';
    src: url("PressStart2P.ttf");
    }

@keyframes slide-right {
    from {
        margin-right: 100%;
         
    }
      
    to {
        margin-right: 0%;
        
    }
}

