*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-family: 'PressStart2PRegular';
    font-size: 62.5%;
}

body, html {
    height: 100%;
  }



#whole-animation-container{
    display:grid;
    height: 100vh;
}

#boom-container{
    background: url(images/boom.jpg) no-repeat center rgb(241, 237, 237) ;
    background-size: 80vh;
}

#attack-picture-container{
    background: url(images/peter_punch.jpg) no-repeat center rgb(241, 237, 237) ; 
    background-size: 80vh;
    
}


