*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body {
    font-family: 'PressStart2PRegular';
    src: url("PressStart2P.ttf");
}

.shaded {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.page_content_container {
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

.main_header{
    margin: 20px;
    text-align: center;
}

.selected_characters_content_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1_blank_box img{
    padding:2px;
    border:5px solid black;
}

.p2_blank_box img{
    padding:2px;
    border:5px solid black;
}

.p1_vs_p2_content_container{
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.p1_name_box{
    margin-top: 50px;
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
}

.p1_name_box p{
    animation-duration: 1s;
    animation-name: slide-right;
}

.vs_box {
    text-align: center;
    /* margin-left: 30px; */
}

.p2_name_box{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
}

.p2_name_box p{
    animation-duration: 1s;
    animation-name: slide-left;
}

@keyframes slide-left {
    from {
        margin-left: 40%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes slide-right {
    from {
        margin-right: 40%;
         
    }
      
    to {
        margin-right: 0%;
        
    }
}

.selection_menu_content_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_box_1{ 
    border: 5px solid black;
    text-align: right;
    position: relative;
    z-index: 1;
}

.form_box_1 input{
    border: 5px solid black;
}

.form_box_1 input:hover{
    border: 5px solid rgb(161, 44, 44);
    transform: scale(1.2);
    z-index: 2;
}


.form_box_2{ 
    border: 5px solid black;
    text-align: left;
    z-index: 0;
}

.form_box_2 input{
    border: 5px solid black;
}

.form_box_3{ 
    border: 5px solid black;
    text-align: right; 
    z-index: 0;
}

.form_box_3 input{
    border: 5px solid black;
}

.form_box_4{ 
    border: 5px solid black;
    text-align: left; 
}

.form_box_4 input{
    border: 5px solid black;
    position: relative;
    z-index: 0;
}

.form_box_4 input:hover{
    border: 5px solid rgb(161, 44, 44);
    transform: scale(1.2);
    z-index: 1;
}





/* player_1_choice.erb specific */

.p1_full_box {
    text-align: right;
}

.p1_full_box img{
    padding:2px;
    border:5px solid black;
}

.p2_full_box {
    text-align: left;
}

.p2_full_box img{
    padding:2px;
    border:5px solid black; 
} 



/* .name_hp_bar1{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}

.name_hp_bar2{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
} */


