

 /* index.erb */

body, html {
    height: 100%;
  }


/* selection.erb */

.main-header{
    font-weight:900;
}

#selection-body{
    margin:0;
    padding:0;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
    }

.whole-container{
    padding:2px;
    border:5px solid black;   
}

.whole-container{
    text-align: center;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}

.shaded {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

.selection-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.selection-wrapper{
    background: #eee;
  }

 
.selected-characters-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.p1-blank-box img{
    padding:2px;
    border:5px solid black;
}

.p2-blank-box img{
    padding:2px;
    border:5px solid black;
}

.p1-full-box img{
    padding:2px;
    border:5px solid black;
}

.p2-full-box img{
    padding:2px;
    border:5px solid black;
}

.p1-name-box{
    margin-top: 50px;
    font-size: 20px;
}

.p2-name-box{
    margin-top: 50px;
    font-size: 20px;
}


.selection-menu-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selection-menu-wrapper{
    background-color: black;
    margin: 0%;
}

.form-box-1{ 
    border: 5px solid black; 
}

.form-box-1 input{
    border: 5px solid black;
}

.form-box-1 input:hover{
    border: 5px solid rgb(161, 44, 44);
}

.form-box-2{ 
    border: 5px solid black; 
}

.form-box-2 input{
    border: 5px solid black;
}

.form-box-3{ 
    border: 5px solid black; 
}

.form-box-3 input{
    border: 5px solid black;
}

.form-box-4{ 
    border: 5px solid black; 
}

.form-box-4 input{
    border: 5px solid black;
}

.form-box-4 input:hover{
    border: 5px solid rgb(161, 44, 44);
}

.name-hp-bar1{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}

.name-hp-bar2{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}


/*  ready.erb  */

#hpbar-time-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#timer{

}

.name-hp-bar1{

}

.name-hp-bar2{

}



@media screen and (max-width: 640px){
  
  }

   /* Mobile - view - play */
@media(min-width: 320px) {
    @media (max-width: 736px){
        .button{
            position: absolute;
            left: 350px;
            
            bottom: 100px;
            width: 260px;
            height: 80px;
            font-size: 20px;
        }

    }
}

 /* Ipad - view - play */
@media(min-width: 737px) {
    @media (max-width: 1366px) {
        .button{
            position: absolute;
            left: 350px;
            
            bottom: 100px;
            width: 260px;
            height: 80px;
            font-size: 20px;
        }
        
    }
}
 /* Mobile - view - result */
@media(min-width: 320px) {
    @media (max-width: 812px) {
        .button{
            position: absolute;
            left: 350px;
            
            bottom: 100px;
            width: 260px;
            height: 80px;
            font-size: 20px;
        }
    }
}
/* Ipad - view - result */
@media(min-width: 737px) {
    @media (max-width: 1366px) {
        .button{
            position: absolute;
            left: 520px;
            
            bottom: 100px;
            width: 260px;
            height: 80px;
            font-size: 20px;
        }
        }
    }

@font-face {
    font-family: 'PressStart2PRegular';
    src: url("PressStart2P.ttf");
    }

@keyframes slide-right {
    from {
        margin-left: -100%;
        width: 300%; 
    }
      
    to {
        margin-left: 0%;
        width: 100%;
    }
}

