
body, html {
    height: 100%;
  }


.whole-container-ready{
    padding:2px;
    border:5px solid black;   
}

.whole-container-ready{
    text-align: center;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
}

.selected-characters-wrapper-ready{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.p1-full-box-ready img{
    padding:2px;
    border:5px solid black;
}

.p2-full-box-ready img{
    padding:2px;
    border:5px solid black;
}

#hpbar-time-container-ready{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.name-hp-bar1-ready{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
    border: 5px solid rgba(0, 0, 0, 0.918);
    background: linear-gradient(to right,rgb(161, 37, 37) 100%,#f70310 0%);
}

#timer{
    font-size: 35px;
    font-weight: 200px;
}

.name-hp-bar2-ready{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
    border: 5px solid rgba(0, 0, 0, 0.918);
    background: linear-gradient(to left,rgb(161, 37, 37) 100%,#f70310 0%);
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-family: 'PressStart2PRegular';
    font-size: 62.5%;
}


.button-container-ready-1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.button-container-ready-2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.button-container-ready-2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}


.button_view_one-ready-1 {
    display: inline-block;
    padding: 10px 25px;
    font-family: 'PressStart2PRegular';
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(247, 244, 244);
    background-color: rgb(161, 37, 37);
    border: 10px solid rgba(0, 0, 0, 0.918);
    outline: 2px solid rgb(247, 244, 244);
    margin-top: 30px;

    /* animating button to slide from right */
    animation-duration: 1s;
    animation-name: slide-left;

}

.button_view_one-ready-1:hover {background-color: rgb(161, 37, 37)}

.button_view_one-ready-1:active {
    background-color: rgb(161, 37, 37);
    transform: translateY(4px);
}

.button_view_one-ready-2 {
    display: inline-block;
    padding: 10px 25px;
    font-family: 'PressStart2PRegular';
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(247, 244, 244);
    background-color: rgb(161, 37, 37);
    border: 10px solid rgba(0, 0, 0, 0.918);
    outline: 2px solid rgb(247, 244, 244);
    margin-top: 10px;

    /* animating button to slide from right */
    animation-duration: 1s;
    animation-name: slide-right;

}

.button_view_one-ready-2:hover {background-color: rgb(161, 37, 37)}

.button_view_one-ready-2:active {
    background-color: rgb(161, 37, 37);
    transform: translateY(4px);
}

.button_view_one-ready-3 {
    display: inline-block;
    padding: 10px 25px;
    font-family: 'PressStart2PRegular';
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(247, 244, 244);
    background-color: rgb(161, 37, 37);
    border: 10px solid rgba(0, 0, 0, 0.918);
    outline: 2px solid rgb(247, 244, 244);
    margin-top: 10px;

    /* animating button to slide from right */
    animation-duration: 1s;
    animation-name: slide-left;

}

.button_view_one-ready-3:hover {background-color: rgb(161, 37, 37)}

.button_view_one-ready-3:active {
    background-color: rgb(161, 37, 37);
    transform: translateY(4px);
}

.turn-ready{
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
    word-spacing: 2px;
}


@font-face {
    font-family: 'PressStart2PRegular';
    src: url("PressStart2P.ttf");
    }

@keyframes slide-right {
    from {
        margin-right: 100%;
    }
    
    to {
        margin-right: 0%;
    } 
    }


@keyframes slide-left {
    from {
        margin-left: 100%;
    }
    
    to {
        margin-left: 0%;
    }
    }