

 /* index.erb */

body, html {
    height: 100%;
  }
  
.image-container{
    /* The image used */
    background-image: url(images/epic_battle.png);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 10px;
  }


.button{
    color: black;
    background-color: rgb(196, 47, 47);
    border: 10px solid black;
    outline: 5px solid white;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    margin: 4px 10px 4px 10px;
}

.button:active {
    box-shadow: 0 0 0 white;
    margin: 10px 5px 10px 5px;
}

.button{
    position: absolute;
    right: 50%;
    left: 40%;
    bottom: 100px;
    width: 260px;
    height: 80px;
    font-size: 20px;
}


/* selection.erb */

#selection-body{
    margin:0;
    padding:0;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
    }

.whole-container{
    align-content: center;
    padding:2px;
    border:5px solid black;   
}

.shaded {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

.selection-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.selection-wrapper{
    background: #eee;
  }

 
.selected-characters-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.p1-blank-box img{
    padding:2px;
    border:5px solid black;
}

.p2-blank-box img{
    padding:2px;
    border:5px solid black;
}

.selection-menu-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selection-menu-wrapper{
    background-color: black;
    margin: 0%;
}

.form-box-1{ 
    border: 5px solid black; 
}

.form-box-1 input{
    border: 5px solid black;
}

.form-box-1 input:hover{
    border: 5px solid rgb(161, 44, 44);
}

.form-box-2{ 
    border: 5px solid black; 
}

.form-box-2 input{
    border: 5px solid black;
}

.form-box-3{ 
    border: 5px solid black; 
}

.form-box-3 input{
    border: 5px solid black;
}

.form-box-4{ 
    border: 5px solid black; 
}

.form-box-4 input{
    border: 5px solid black;
}

.form-box-4 input:hover{
    border: 5px solid rgb(161, 44, 44);
}




@media screen and (max-width: 640px){
  
  }

   /* Mobile - view - play */
@media(min-width: 320px) {
    @media (max-width: 736px){


    }
}

 /* Ipad - view - play */
@media(min-width: 737px) {
    @media (max-width: 1366px) {

        
    }
}
 /* Mobile - view - result */
@media(min-width: 320px) {
    @media (max-width: 812px) {

    }
}
/* Ipad - view - result */
@media(min-width: 737px) {
    @media (max-width: 1366px) {

        }
    }

@font-face {
    font-family: 'PressStart2PRegular';
    src: url("PressStart2P.ttf");
    }
